.aside {
  color: var(--color-dark-blue);
  padding: 10px 0 10px 10px;
  color: var(--color-light-grey);
}

.aside--bracket {
  border-left: var(--color-light-grey) solid 1px;
  border-radius: 12px;
}
