.button {
  background-color: var(--color-kupfer);
  padding: 4px 8px;
  color: var(--color-light-grey);
  transition-duration: 0.6s;
}

.button:hover {
  background-color: var(--color-light-grey);
  color: var(--color-kupfer);
}
