.footer {
  color: var(--color-light-grey);
  background: linear-gradient(0deg, var(--color-light-grey), var(--color-dark-blue));
}

.footer__tool {
  color: var(--color-dark-blue);
}

.footer__tool:hover {
  opacity: 0.5;
}
