/* Import font fira sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* Universal selector */
* {
    box-sizing: border-box;
}

/* Type selectors */

html {
    background-color: whitesmoke;
}

body {
    font-size: 112.5%;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(75, 74, 74);
    margin: 10px;
    padding: 10px; 
}


h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;    
    color:white;
    text-shadow: 2px 2px 2px #5c5e5e;
}

a img:hover {
    opacity: 0.5;
} 

/* Header */

header {
    background-image: url('/images/profile_pic_gray.jpg');
    background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    width:auto;
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    font-family: 'Cookie', cursive;
    font-size: 300%;
}

.logo {
    padding: 20px 0 10px 20px;

}

/* Nav-bar */

.nav-bar {

    display: flex;
    justify-content: start;
}

.nav-button {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    text-shadow: 2px 2px 2px #5c5e5e;
}

.nav-button:hover {
    border-bottom: 5px solid rgb(161, 7, 7);
    background-color: white;
    color:rgb(0, 0, 0);
    font-size: larger;
    text-shadow: none;
   
}

.button {
    text-decoration: none;
    background-color: rgb(161, 7, 7);
    padding: 4px 8px;
    color: white;
    border-radius: 6px;
    /* time for hover effect */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color:rgb(161, 7, 7);
    /* two shadows above each other */
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-head {
    margin: 0px 0 20px 10px; 
    
}

.hello {
    margin: 0px 0 20px 10px; 
}

.description {
    margin: 0px 10px 20px 10px;
    text-shadow: 2px 2px 2px #5c5e5e;
}


.head-container {
    margin: 0px 10px 10px 10px;
    display:flex;
    justify-content: start;
    flex-flow: column wrap;
    color: white;
    border-radius: 8px;
    max-width: 65%;
    background-color: #3c3c3c;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.test {
    display:flex;
    justify-content: start;


}
/* main */

.content-container { 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
    padding-bottom: 10px;
}

.cite {     
    
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:whitesmoke;
    padding: 10px ;
}
.citmg{
    padding-top: 10px;
}


.techstack {
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 15px;
    padding-left:10px;
    background-color: #3c3c3c;
}

.follow {
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin:0 15px 15px 15px;
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: #3c3c3c;
}

#biography {
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin:0 15px 15px 15px;
    display: flex;
    align-items: start;
    flex-direction:column;
    padding: 10px;
    color:whitesmoke;
    background-color: #3c3c3c; 
    
}

details {
    width: 100%;
}

summary{
    padding: .25rem 1rem;
    background-color: whitesmoke;
    color:#3c3c3c;
    border-radius: 3px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    list-style: none;

}

summary::before {
    padding-right: .25rem;
    content: '+ '
}

details[open] summary::before{
    padding-right: .25rem;
    content: '- ';
}

details[open] summary {
    border-radius: 3px 3px 0 0;
}

.education {
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin:0 15px 15px 15px;
    display: flex;
    align-items: start;
    flex-direction:column;
    padding: 10px 0 0 10px;
    color:whitesmoke;
    background-color: #3c3c3c; 

}

aside {
    background-color:#3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
    padding: 10px 0 10px 10px;

}

aside  {
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border: 2px solid #3c3c3c; 
    border-radius: 8px;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 15px;
    color:whitesmoke;
    background-color: #3c3c3c;
    


}
a[href^="mailto:"] {
    color: whitesmoke;
    text-decoration: none;
}
a[href^="tel:"] {
    color:whitesmoke;
    text-decoration: none;
}


address {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.tool {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.topArrow {
    text-decoration: none;
}

.undottedList {
    /* none list symbols */
    list-style :none;
}