/* Import font fira sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;800&display=swap");
@import "./colors.css";
@import "./base.css";
@import "./utilities.css";

@import "./components/aside.css";
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/nav-bar.css";
@import "./components/section.css";

.main {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
  background: var(--color-light-grey);
}

.main__cite {
  color: var(--color-light-grey);
  background-color: var(--color-dark-blue);
  padding: 10px;
  margin: 0;
}

.main__container {
  margin: 15px 15px 0 15px;
  padding-top: 15px;
}